:host {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;

  mat-button-toggle-group {
    display: inline-flex;
    flex-direction: column;
    box-shadow: none;

    mat-button-toggle {
      color: black;

      .mat-button-toggle-button {
        width: 64px;
       }
    }

    .mat-button-toggle-checked {
      color: white;
    }
  }
}